<div class="row">
  <div class="col-xs-6" >
    <% if !@error %>
      <p>
        You're going to eat at:<b> <%=  @place.name %></b> <br>
        Rating: <%=  @place.rating %> / 5 <br>
        Phone number: <%=  @place.phone_number %> <br>
        Address: <%= @place.address %> <br>

        <% if @place.open_now.eql?("Open now") %>
          <%= @place.periods %><br>
          <font size="3" color="green">Open now</font><br>
        <% elsif @place.open_now.eql?("Closed")  %>
          <font color="red">Closed</font><br>
        <% end %>
      </p>

      <div class="skip">
        <button type="button" id="skipRestaurant" onclick="onClickSkip(<%= @place.lat %>, <%= @place.lon %>, <%= @place.radius %> )">Skip This Restaurant</button>
      </div>

      <div class="Flexible-container">
        <iframe class="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyB3xKb4v0cK805_F1ApSX0Os0KS-XzDoO4&q=+<%=  @place.address.gsub(' ','+') %>"></iframe>
      </div>
    <% else %>
      <p>You denied us access to your location! Select one from right -></p>
    <% end %>

  </div>


  <div class="col-xs-6">
    <div class="weather">
      <h4>Current Weather conditions</h4>
      <p>
        Temperature: <strong><%= @weather.temperature.to_s %>&deg;F<br></strong>
        Current Conditions: <strong><%= @weather.description %></strong>
      </p>
    </div>

    <div class="manualLoc">
      <h4 class="location">Redefine your loaction</h4>

      <form name="myform" method="post" action="/places">
          <input type="text" name="locationinput" placeholder="Search City, State, or Zip"><br>

          <label for="radius">Change search radius</label>
          <input type="range" name="radius" id="mile" value="<%= @place.radius / 1609 %>" min="1" max="100">


		  <input type="hidden" name="lat" value="<%= @place.lat %>">
          <input type="hidden" name="lon" value="<%= @place.lon %>">

          <input type="submit" name="button" value="Submit">
      </form>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-xs-6 location">
<% if !@error %>
  <p>Your location is: Lat: <%= @place.lat %> Lon: <%= @place.lon %></p>
<% else %>
<% end %>
 </div>
</div>
<div class="row">
  <div class="text-center bottom-row" >
    <a href="https://twitter.com/share?text=I'm%20going%20to%20eat%20at%20<%= @place.name %> -%20Thanks%20to&url=http://www.mealdictator.com"> <img src="images/twitter.png" height="40px"> </a>
  </div>
</div>



